body.hover, html.hover, .container.hover {
    background-color: white !important;
}
 .container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}
body {
    text-align: center;
}


.hover {
    background-color: black;
}